<template id="colophon-template">
	<section class="bringIn">
		<div class="row">
			<div class="col-sm-12">
				<div class="logowrapper">
					<div class="logo">
						<span class="d logo-letter">d</span>
						<span class="m logo-letter">m</span>
						<span class="t logo-letter">t</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div>
					<header><h1 class="text-center"><em>Colophon</em> <small>finishing touch</small></h1></header>
					<p class="lead text-center">
                        Coded in <time datetime="2015">Two Thousand Fifteen</time> in the southern regions of California.<br> <small>A place for the internet-facing extension of my self to reside.</small></p>
					<h3>Design</h3>
					<hr>
					<p>
						A look at the <span class="code-font">source</span> of this site will identify a static one-page design with <code>&lt;template&gt;</code>s and a simple
						 <code>hashchange</code> router. Downloading a whole website from one <code><abbr title="Uniform Resource Locator">url</abbr></code>,
						 still with an interactive or nested experience, seems very elegant. Being interested in Machine Learning, the idea of
						 a semantic web is wonderful; therefore, the <samp><a href="#!/resume">#!/resume</a></samp> and <samp><a href="#!/contact">#!/contact</a></samp>
						 <em>pages</em> use <a href="http://microformats.org/wiki/microformats2" target="_blank">microformat2</a> structured data.
                         The <samp><a href="#!/projects">#!/projects</a></samp> <em>page</em> uses <code>ajax</code> calls to the <a href="https://developer.github.com/v3/">GitHub API</a> for gathering project data.
                         All hover events and animations, less one, are implemented using <code>css</code> and <strong>not</strong> <code>JavaScript</code>.
					</p>
                    <p>This site was <em>stitched</em> together with my own static site generator, <a href="http://tmthydvnprt.com/quilt/">quilt</a>.</p>
					<p> All <code>.html</code>, <code>.css</code> &amp; <code>.js</code> is home grown except for <small>(credit where credit is due)</small> :</p>
					<ol>
						<li>a customized <code><a href="http://getbootstrap.com/customize/?id=1e76d717b84935ce2665" target="_blank">bootstrap.css</a></code>
							(<code>bootstrap.js</code> is <strong><em>not</em></strong> used)
						</li>
						<li><code><a href="https://code.google.com/p/google-code-prettify/" target="_blank">prettify.js</a></code> for syntax highlighting</li>
						<li>a modified <code><a href="http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/tomorrow-night-eighties.css" target="_blank">tomorrow-night-eighties.css</a></code> syntax color theme</li>
						<li>an adapted one page routing <a href="http://benhowdle.im/building-a-backendless-web-app-in-two-hours.html" target="_blank">idea</a></li>
					</ol>
					<p><small>Please <a href="#!/contact">contact</a> me if something is misrepresented.</small></p>
					<h3>Tools</h3>
					<hr>
					<p class="tools">A couple of extremely sophisticated abacuses and a lot of tiny modifiable stone tablets.</p>
					<blockquote class="blockquote-hover">
						<p>The thing that hath been, it is that which shall be; and that which is done is that which shall be done: <strong><u>and there is no new thing under the sun</u></strong>.</p>
						<footer>
							<a href="https://www.biblegateway.com/passage/?search=Ecclesiastes%201:9&version=KJV" target="_blank">
								<cite>Ecclesiastes 1:9</cite>
							</a>
						</footer>
					</blockquote>
					<h3>Typography</h3>
					<hr>
					<p>
						This site
						 uses <a class="typo" href="https://www.google.com/fonts/specimen/Ubuntu" target="_blank">Ubuntu</a> for prose & headings,
						 <a class="typo code-font" href="https://www.google.com/fonts/specimen/Ubuntu+Mono" target="_blank">Ubuntu Mono</a> for code,
						 <a class="typo wiki-font" href="https://www.google.com/fonts/specimen/Sorts+Mill+Goudy" target="_blank">Sorts Mill Goudy</a> for
						 wikipedia <a href="http://en.wikipedia.org/" target="_blank">W</a> links, &
						 <a class="typo logo-font" href="https://www.google.com/fonts/specimen/Poiret+One" target="_blank">Poiret One</a> f
						 or the <abbr title="Timothy Michael Davenport">tmd</abbr> monogram, all served via google webfonts.
					</p>
					<p>
						The <code>font-size</code> is set by the original <a href="http://getbootstrap.com/css/#type" target="_blank">bootstrap</a>
						 headings <samp>{36px ,30px, 24px, 18px, 14px, 12px}</samp> curve-fit to the cubic polynomial
					</p>
					<p class="text-center">
						f<sub>1</sub>(<var>x</var>) =
						 <var>a</var><var>x</var><sup>3</sup></span>
						 + <var>b</var><var>x</var><sup>2</sup></span>
						 + <var>c</var><var>x</var>
						 + <var>d</var>,
					</p>
					<p>where <var>x</var> is in heading levels and f<sub>1</sub>(x) is in <abbr title="pixels" >px</abbr>, with coefficients</p>
					<p class="text-center code-font">
						<var>a</var> = &nbsp;0.14814815,<br>
						<var>b</var> = -1.05555556,<br>
						<var>c</var> = -3.77513228,<br>
						<var>d</var> = 40.66666667,<br>
					</p>
					<p>
						transformed to satisfy a base <code>font-size</code> of f<sub>2</sub>(5) = 16px & a max
						 <code>font-size</code> of f<sub>2</sub>(1) = 40px using the transformation
					</p>
					<p class="text-center">
						f<sub>2</sub>(<var>x</var>) = <span class="lfloor">&lfloor;</span><var>A</var>f<sub>1</sub>(<var>B</var>(<var>x</var> - <var>C</var>)) + <var>D</var><span class="rceil">&rceil;</span>,
					</p>
					<p>with transform coefficients</p>
					<p class="text-center code-font">
						<var>A</var> = &nbsp;1.12203198,<br>
						<var>B</var> = &nbsp;0.92616879,<br>
						<var>C</var> = &nbsp;0.42603192,<br>
						<var>D</var> = -3.06785714,
					</p>
					<p>
						and evaluated for 1 &le; <var>x</var> &le; 6 giving a final set of sizes equal to <samp>{40px, 34px, 28px, 22px, 16px, 12px}</samp>.
						 This was accomplished with a <a href="#!/fontpy">python script</a>.
					</p>
					<p>The <code>line-height</code> is &radic;<span style="text-decoration: overline">2</span> = <em>1.4142135623&hellip;</em></p>
					<h3>Color Palette</h3>
					<hr>
                    <p>The most prominent hexadecimal colors used throughout the site.</p>
					<div class="row">
						<div class="col-xs-4">
							<ul class="list-unstyled text-center">
								<li><span class="code-font swatch sw16a085">#16a085</span></li>
								<li><span class="code-font swatch sw00a887">#00a887</span></li>
								<li><span class="code-font swatch sw1bbc9b">#1bbc9b</span></li>
								<li><span class="code-font swatch sw30c2a4">#30c2a4</span></li>
								<li><span class="code-font swatch sw44c8ad">#44c8ad</span></li>
								<li><span class="code-font swatch sw59ceb6">#59ceb6</span></li>
								<li><span class="code-font swatch sw00ffcc">#00ffcc</span></li>
								<li><span class="code-font swatch sw94dfd0">#94dfd0</span></li>
								<li><span class="code-font swatch swbbebe1">#bbebe1</span></li>
								<li><span class="code-font swatch swfdfefd">#fdfefd</span></li>
							</ul>
						</div>
						<div class="col-xs-4">
							<ul class="list-unstyled text-center">
								<li><span class="code-font swatch sw336e7b">#336e7b</span></li>
								<li><span class="code-font swatch sw34495e">#34495e</span></li>
							</ul>
						</div>
						<div class="col-xs-4">
							<ul class="list-unstyled text-center">
								<li><span class="code-font swatch sw010101">#010101</span></li>
								<li><span class="code-font swatch sw232323">#232323</span></li>
								<li><span class="code-font swatch sw343434">#343434</span></li>
								<li><span class="code-font swatch sw565656">#565656</span></li>
								<li><span class="code-font swatch sw787878">#787878</span></li>
								<li><span class="code-font swatch swefefef">#efefef</span></li>
							</ul>
						</div>
					</div>
					<h4>Curiosities</h4>
					<hr>
                    <p>What's with the <code><abbr title="Uniform Resource Locator">url</abbr></code> &amp; name?</p>
                    <ol>
                        <li>consistent user name, nobody had claimed it on <em>any</em> service I needed (\o/),</li>
                        <li>begin interested in language and information transferred via characters, vowels are somewhat unnecessary to record, like the phoenician alphabet <a href="http://en.wikipedia.org/wiki/Phoenician_alphabet" target="_blank"><sup>W</sup></a> or any abjad <a href="http://en.wikipedia.org/wiki/Abjad" target="_blank"><sup>W</sup></a>.</li>
                    </ol>
					<p>The <a href="#!/monogram">monogram</a> was made with tightly placed <code>html</code>/<code>css</code>. An embedded <code>base64</code> image version for the <samp><a href="#!/resume">#!/resume</a></samp> <em>page</em> was made with this really simple <a href="#!/base64imagepy">python script</a>.</p>
					<p>The <em>planetary menu</em> is a nod to the wonder of astronomy and a, potentially humorous, commentary to the fact that by <em>navigating</em> my website, you are metaphorically <em>navigating</em> a world I created.</p>
					<p>I find it interesting to use mathematical relationships to define numbers instead of arbitrary or aesthetic choice.  Often the mathematical becomes aesthetic. If an overall trend/equation is not used to set a group of numbers (as in the typography described above), or if only a single number is needed, I try to use something that first satisfies</p>
                    <p class="text-center">
                        <span class="code-font">log<sub>2</sub>(<var>x</var>) == <abbr title="the set of integers">&#8484;</abbr></span> <span class="abs-right">(a power of two)</span>.
                    </p>
                    <p>If that doesn't work, I'll look for</p>
                    <p class="text-center">
                        <span class="code-font"><var>x</var> % 8 == 0</span> <span class="abs-right">(a multiple of eight)</span>,
                    </p>
                    <p>and as a last resort,</p>
                    <p class="text-center">                   
                        <span class="code-font"><var>x</var> % 5 == 0</span> <span class="abs-right">(a multiple of five)</span>.
                    </p>
					<p>There is a programming pun on the <samp><a href="#!/epigraph">#!/epigraph</a></samp> <em>page</em>.</p>
					<p>
						There is something enjoyable about hovering over text and seeing a change, therefore, most
						 <code>&lt;a&gt;</code> tags display their <code>href</code> attribute to show where the link goes,
						 <code>&lt;abbr&gt;</code> tags display their <code>title</code> attribute to explain the abbreviation and
						 <code>&lt;time&gt;</code> tags display their <code>datetime</code> attribute to show an ISO8601 <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank"><sup>W</sup></a> timestamp or duration.
					</p>
					<p>There are other hidden hover events throughout this <em>page</em> and the rest of the site!</p>
                    <div class="row"><p class="geometers">&Alpha;&Gamma;&Epsilon;&Omega;&Mu;&Epsilon;&Tau;&Rho;&Eta;&Tau;&Omicron;&Sigma; &Mu;&Eta;&Delta;&Epsilon;&Iota;&Sigma; &Epsilon;&Iota;&Sigma;&Iota;&Tau;&Omega;</p></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="logowrapper">
					<div class="logo">
						<span class="d logo-letter">d</span>
						<span class="m logo-letter">m</span>
						<span class="t logo-letter">t</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row"><p class="geometers">&Alpha;&Gamma;&Epsilon;&Omega;&Mu;&Epsilon;&Tau;&Rho;&Eta;&Tau;&Omicron;&Sigma; &Mu;&Eta;&Delta;&Epsilon;&Iota;&Sigma; &Epsilon;&Iota;&Sigma;&Iota;&Tau;&Omega;</p></div>
	</section>
	<div id="lorem">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<header><h1 class="text-center">&zwnj;</h1></header>
				<h2 class="text-center"><small>aA bB cC dD eE fF gG hH iI jJ kK lL mM nN oO pP qQ rR sS tT uU vV wW xX yY zZ 1 2 3 4 5 6 7 8 9 0 ` - = [ ] \ ; \ &#39; , . / ~ ! @ # $ % ^ &amp; * ( ) _ + { } | : &quot; &lt; &gt; ?</small></h2>
				<h2 class="text-center"><em>Lorem Ipsum</em></h3>
				<p class="lead">
					Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p>
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>
</template>