<template id="contact-template">
	<section class="bringIn">
		<header><h1 class="text-center"><em>Contact</em></h1></header>
		<div class="row">
			<div id="tim-contact" class="col-sm-6 col-sm-push-6">&zwnj;</div>
			<div class="col-sm-6 col-sm-pull-6">
				<div class="logowrapper">
					<div class="logo">
						<span class="d logo-letter">d</span>
						<span class="m logo-letter">m</span>
						<span class="t logo-letter">t</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>