<template id="data-template">
    <section class="bringIn">
        <div>
            <header>
                <h1><em>Data</em></h1>
            </header>
            <hr>
            <div>
                <p class="lead">These are some fun fact, figures, &amp; numbers about me!</p>
                <h2>Time Alive</h2>
                <p>
                    I've been alive for about <span id="alive-duration"></span> or for a total of each:
                    <ul class="alive-time list-unstyled">
                        <li><code><time id="alive-seconds" datetime="PT1234567890S">1234567890</time></code> seconds</li>
                        <li><code><time id="alive-minutes" datetime="PT1234567890M">1234567890</time></code> minutes</li>
                        <li><code><time id="alive-hours" datetime="PT1234567890H">1234567890</time></code> hours</li>
                        <li><code><time id="alive-days" datetime="PT1234567890D">1234567890</time></code> days</li>
                        <li><code><time id="alive-weeks" datetime="PT1234567890W">1234567890</time></code> weeks</li>
                        <li><code><time id="alive-months" datetime="PT1234567890M">1234567890</time></code> months</li>
                        <li><code><time id="alive-years" datetime="PT1234567890Y">1234567890</time></code> years</li>
                        <li><code><time id="alive-decades" datetime="PT1234567890Y">1234567890</time></code> decades</li>
                        <li><code><time id="alive-centuries" datetime="PT1234567890S">1234567890</time></code> centuries</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
</template>
