<template id="data-template">
    <section class="bringIn">
        <div>
            <header>
                <h1><em>Data</em></h1>
            </header>
            <hr>
            <div>
                <p class="lead">Here are some fun personal fact &amp; figures!</p>
                <h2>Time Alive</h2>
                <p>
                    I've been alive for about
                </p>
                <p class="indent">
                    <span id="alive-duration"></span>.
                </p>
                <p>
                    That is equal to
                </p>
                <ul class="indent list-unstyled">
                    <li><time id="alive-seconds" datetime="PT1234567890S">1234567890</time> seconds</li>
                    <li><time id="alive-minutes" datetime="PT1234567890M">1234567890</time> minutes</li>
                    <li><time id="alive-hours" datetime="PT1234567890H">1234567890</time> hours</li>
                    <li><time id="alive-days" datetime="PT1234567890D">1234567890</time> days</li>
                    <li><time id="alive-weeks" datetime="PT1234567890W">1234567890</time> weeks</li>
                    <li><time id="alive-months" datetime="PT1234567890M">1234567890</time> months</li>
                    <li><time id="alive-years" datetime="PT1234567890Y">1234567890</time> years</li>
                    <li><time id="alive-decades" datetime="PT1234567890Y">1234567890</time> decades</li>
                    <li><time id="alive-centuries" datetime="PT1234567890S">1234567890</time> centuries</li>
                </ul>
            </div>
        </div>
    </section>
</template>
