<template id="home-template">
	<section class="bringIn">
        <header id="intro">
            <h1 class="text-font"><span class="bigger"><span class="t1">tim</span><span class="bracket">(</span><span class="t2">othy</span><span class="bracket">)</span></span></h1>
            <h1 class="text-font"><span class="bigger">I <span id="verb">_______</span> for fun.</span></h1>
            <ul id="definition" class="list-unstyled">
                <li>{f}ulfilling</li>
                <li>{u}nencumbered</li>
                <li>{n}joyment</li>
            </ul>
        </header>
        <p class="geometers">&Alpha;&Gamma;&Epsilon;&Omega;&Mu;&Epsilon;&Tau;&Rho;&Eta;&Tau;&Omicron;&Sigma; &Mu;&Eta;&Delta;&Epsilon;&Iota;&Sigma; &Epsilon;&Iota;&Sigma;&Iota;&Tau;&Omega;</p>
	</section>
</template>