<template id="monogram-template">
	<section class="bringIn">
		<div>
			<div class="logowrapper">
				<div class="logo">
					<span class="d logo-letter">d</span>
					<span class="m logo-letter">m</span>
					<span class="t logo-letter">t</span>
				</div>
			</div>
			<div class="logowrapper">
				<div class="logo">
					<span class="d logo-letter">d</span>
					<span class="m logo-letter">m</span>
					<span class="t logo-letter">t</span>
				</div>
			</div>
            <h1 class="logo-font">Timothy Michael Davenport</h1>
		</div>
	</section>
</template>