<template id="projects-template">
    <section class="bringIn">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <header><h1><em>Projects</em><small></small></h1></header>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Featured Projects</h2>
                <div id="project-features">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="well well-sm text-center">
                                <div class="iframe-wrap">
                                        <a href="http://tmthydvnprt.com/quilt/"  alt="Quilt" title="Quilt" class="no-hover">
                                    <div class="iframeblock">
                                        <div>
                                            <h2>quilt</h2>
                                            <h2><small>A <code>Python</code> based statis site <code>html</code> <em>stitcher</em>.</small></h2>
                                        </div>
                                    </div>
                                        </a>
                                    <iframe src="http://tmthydvnprt.com/quilt/"></iframe>
                                </div>
                                <h2><a href="http://tmthydvnprt.com/quilt/">Quilt</a></h2>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well well-sm text-center">
                                <div class="iframe-wrap">
                                        <a href="http://tmthydvnprt.com/juxtapy/" alt="Juxtapy" title="Juxtapy" class="no-hover">
                                    <div class="iframeblock">
                                        <div>
                                            <h2>Juxtapy</h2>
                                            <h2><small>Folder and File juxtaposing in Python</small></h2>
                                        </div>
                                    </div>
                                        </a>
                                    <iframe src="http://tmthydvnprt.com/juxtapy/"></iframe>
                                </div>
                                <h2><a href="http://tmthydvnprt.com/juxtapy/">Juxtapy</a></h2>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well well-sm text-center">
                                <div class="iframe-wrap">
                                        <a href="http://tmthydvnprt.com/aggregit/"  alt="Aggregit" title="Aggregit" class="no-hover">
                                    <div class="iframeblock">
                                        <div>
                                            <h2>Aggregit</h2>
                                            <h2><small>See <em>all</em> your data across <em>all</em> your GitHub repositories.</small></h2>
                                        </div>
                                    </div>
                                        </a>
                                    <iframe src="http://tmthydvnprt.com/aggregit/"></iframe>
                                </div>
                                <h2><a href="http://tmthydvnprt.com/aggregit/">Aggregit</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>All GitHub Repositories <small><a href="https://github.com/tmthydvnprt?tab=repositories" target="_blank" alt="tmthydvnprt's repos" title="tmthydvnprt's repos"><i class="fa fa-github"></i></a></small></h2>
                <ul id="project-list" class="list-group">
                    <li class="list-group-item"><h1 class="text-center">...gathering data...</h1></li>
                </ul>
            </div>
        </div>
    </section>
</template>
