<template id="projects-template">
	<section class="bringIn">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <header><h1><em>Projects</em><small></small></h1></header>
                <hr>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>Stats</h2>
                <div id="project-stats">
                </div>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>Repositories</h2>
                <ul id="project-list" class="list-group">
                </ul>
            </div>
        </div>
	</section>
</template>